nav { padding: 0 40px;}

#logo {
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Merriweather', serif;
}

.uk-navbar-nav>li>a {
    color: #525151;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus, .uk-iconnav>*>a:focus, .uk-iconnav>*>a:hover, #logo:hover .uk-text-lead {
    color: #006dc4;
}
.uk-offcanvas-bar {
    background: white;
}

.uk-offcanvas-bar ul a, button.uk-offcanvas-close {
    color: #333 !important;
    font-size: large;
}

@media (max-width: 413px)  {
    nav .uk-text-lead {
        font-size: 1rem;
    }
}

@media (max-width: 363px) {
    li.nav-social {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 120px;
    font-size: 3rem;
}

.article {
    margin-top: 40px;
}

.header-image {
    height: 300px;
    overflow: hidden;
    background-size: cover;
}

@media (max-width: 575px) {
    .header-image {
        height: 200px;
    }
    h1 {
        padding-top: 70px;
        font-size: 2.5rem;
    }
}

.item-header {
    text-align: center;
}

.item-image {
    max-width: 30vw;
}

.mobile-image {
    text-align: center;
}

@media (min-width: 400px) {
    .mobile-image {
        float: left;
        padding: 20px;
    }
}

footer {
    padding: 40px 0;
}

footer small {
    display: block;
}

@media (max-width: 620px) {
    footer .uk-text-lead {
        font-size: 1rem;
    }
}

@media (max-width: 465px) {
    p {
        word-break: break-word;
    }
}
