<div class="uk-container uk-margin-large-top uk-margin-bottom house-overview">
    <p class="uk-text-lead"> {{page.title}} </p>
    {{ page.summary }}
    {# Displays on mobile #}
    <hr class="uk-hidden@s">
</div>
