{% set hero_image = page.media.images|first %}

<div class="header-image" style="background-image: url('{{hero_image.url}}'); background-position: {{page.header.background}};">
    <h1>{{site.moto}}</h1>
</div>
