{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="uk-container-small uk-align-center uk-margin-large-top">
        <h2 class="uk-text-center uk-margin-large">Error!</h2>
        <div class="uk-text-center uk-margin-large">{{ page.content }}</div>
    </div>
{% endblock %}
